* {
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
  background-color: #000;
}

.hero {
  height: 100vh;
  width: 100%;
  background-image: url("Gold and Black Modern Linkedin Photo Profile.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-left: 8%;
  padding-right: 8%;
}
.logo {
  color: white;
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
}
span {
  color: #f9004d;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}
nav ul li a:hover {
  color: #f9004d;
  transition: 0.4s;
}
.btn {
  background-color: #f9004d;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 30px;
  transition: transform 0.4s;
}
.btn:hover {
  transform: scale(1.2);
}
.btn2 {
  background-color: #f9004d;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 30px;
  transition: transform 0.4s;
}
.btn2:hover {
  background-color: transparent;
  border: 2px solid #f9004d;
  cursor: pointer;
}
.content {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
}
h1 {
  color: white;
  margin: 20px 0px -5px;
  font-size: 75px;
}

h4 {
  color: #fcfc;
  letter-spacing: 2px;
  font-size: 20px;
}
.newslatter form {
  width: 380px;
  max-width: 100%;
  position: relative;
}
.newslatter form input:last-child {
  position: absolute;
  display: inline-block;
  outline: none;
  border: none;
  padding: 10px 30px;
  border-radius: 30px;
  background-color: #f9004d;
  color: white;
  box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
  top: 6px;
  right: 170px;
}
.newslatter form input:last-child:hover {
  transform: scale(1.2);
}
@media (max-width: 787px) {
  .hero {
    height: 100vh;
    width: 100%;
    background-image: url("Gold and Black Modern Linkedin Photo Profile.png");
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
  }
  nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
  }
  .wrapper {
    min-height: 3vh;
  }
}

@media (min-width: 788px) and (max-width: 1023px) {
  .hero {
    height: 100vh;
    width: 100%;
    background-image: url("Gold and Black Modern Linkedin Photo Profile.png");
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
  }
  nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
  }
  .wrapper {
    min-height: 3vh;
  }
}

@media (min-width: 1024px) {
  .hero {
    height: 100vh;
    width: 100%;
    background-image: url("Gold and Black Modern Linkedin Photo Profile.png");
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
  }
}
.about {
  width: 100%;
  padding: 100px 0px;
  background-color: black;
}

.about img {
  height: auto;
  width: 430px;
}
.about-text {
  width: 550px;
}
.main {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
}
.about-text h2 {
  color: white;
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.about-text h5 {
  color: white;
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 25px;
  text-transform: capitalize;
}
.about-text p {
  color: #fcfc;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 25px;
}
button {
  background-color: #f9004d;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.4s;
}
button:hover {
  background-color: transparent;
  border: 2px solid #f9004d;
  cursor: pointer;
}
.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  box-shadow: 0px 20px 0px 7px #858585, -5px -5px 30px 7px #858585;
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px #858585, -5px -5px 30px 15px #858585;
}

.title-white {
  color: white;
}

.title-black {
  color: white;
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}
.title h2 {
  color: white;
  font-size: 75px;
  width: 1130px;
  margin: 30px auto;
  text-align: center;
}
.contact-me {
  width: 100%;
  height: 290px;
  background: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.contact-me p {
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 25px;
  background-color: black;
}
.contact-me .button-two {
  background-color: #f9004d;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.4s;
}
.contact-me .button-two:hover {
  background-color: transparent;
  border: 2px solid #f9004d;
  cursor: pointer;
}
footer {
  position: relative;
  width: 100%;
  height: 400px;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer p:nth-child(1) {
  font-size: 30px;
  color: white;
  margin-bottom: 20px;
  font-weight: bold;
  background-color: #101010;
}
footer p:nth-child(2) {
  color: white;
  font-size: 17px;
  width: 500px;
  text-align: center;
  line-height: 26px;
  background-color: black;
}
.social {
  display: flex;
  background-color: black;
}

.social a {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9004d;
  border-radius: 50%;
  margin: 22px 10px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.social a:hover {
  transform: scale(1.3);
  transition: 0.3s;
}
.end {
  position: absolute;
  color: #f9004d;
  bottom: 35px;
  font-size: 14px;
  background-color: #101010;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 6vh;
  display: inline-flex;
}

.wrapper .static-txt {
  color: #fff;
  font-size: 35px;
}

.wrapper .dynamic-txts {
  margin-left: 10px;
  height: 22px;
  line-height: 26px;
  overflow: hidden;
}

.dynamic-txts li {
  list-style: none;
  font-size: 30px;
  color: #f9004d;
  position: relative;
  top: 0; /* Adjusted initial position */
  animation: slide 4s steps(2) infinite;
}

@keyframes slide {
  100% {
    top: -53px;
  }
}

.dynamic-txts li span {
  position: relative;
}

.dynamic-txts li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  border-left: 2px solid #f9004d;
  animation: typing 1.5s steps(18) infinite;
}

@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -20px 0 20px; /* Adjusted margin to match the text position */
  }
}
